body{background: #fbfaf8}
div.required label.control-label:after {
    content: " *";
    color: red;
}
ul {list-style: none;}
.navbar-brand {
    font-size: 18px;
    line-height: 30px;
    float: left;
    height: 50px;
    padding: 10px 15px;
}
.editormd-fullscreen {z-index:99999!important;}
a:hover{text-decoration: none;}
/* 面板开始 */
.panel .panel-heading { background: #FCFCFC; border-bottom: #eee solid 1px; }
.panel .panel-heading .panel-title { margin: 0; font-size: 14px; display: inline; }
.panel .panel-heading .pull-right { font-size: 12px; margin:0; padding:0; }
.panel  ul { padding: 0; margin: 0; }
.panel  ul li:last-child { border-bottom: none; }
/* 面板结束 */
.article-list .media{padding-top:15px;border-top:1px dashed #d9d9d9;}
.article-list .media:first-child{padding-top:0;border-top:0;}
.article-list em{color:#999;font-style: normal}
.article-list .media-content{margin-top:10px;color:#666;}
.article-list .media-action{margin-top:5px;color:#999;}
.article-item .article-img-wrap{position:relative;width:100%;padding-top:50%;}
.article-item img{position:absolute;left:0;top:0;width:100%;height:100%;}
.article-title{text-align:center;-webkit-line-clamp:2;display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;height:50px;line-height: 25px;font-size: 16px}
.view-title{border-bottom: 1px solid #F2F2F2;  padding-bottom: 5px;margin-bottom: 10px;}
.view-description{margin-top:10px;}
.view-content img{max-width: 95%!important;display: block;margin:10px auto!important;}
.view-content p{line-height: 1.8}
.view-content ul {list-style-type: disc;padding-left:40px;}
.top-label {
    font-size: 12px;
    background: #5bc0de none repeat scroll 0 0;
    border: 1px solid #5bc0de;
    color: #fff;
    margin-left: 4px;
    padding: 2px 7px;
}
/*三级联动组件样式*/
.form-inline .linkage {
    display: inline-block;
}
.linkage .form-control{
    display: inline-block;
    width: 100px;
    vertical-align: middle;
}
.select2-container {
    display:block;
}
.form-inline .select2-container {
    display: inline-block;
}
.alert a {text-decoration: none!important;}
/* 整体样式 */
html, body { height: 100%; font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { padding-left: 10px; padding-right: 10px; }
.row { margin-left: -10px; margin-right: -10px; }
/*blockquote {border-left:5px solid #f16705; font-weight: bold;}*/
/*ul { padding-left: 20px; }*/
h1 { font-size: 22px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
.hidden{display:none!important;}
.mb15{margin-bottom: 15px;}
.carousel-inner .item a{display:block;position:relative;width:100%;padding-top:45%}
.carousel-inner img{position:absolute;width:100%!important;height:100%!important;left:0;top:0}

/* 主导航开始 */
.header{height:200px;}
.header-content{padding-top:100px;}
.header h1{margin:0;}
.header h1 a{color:#fff;}
/*.navbar-brand { padding-top: 0; padding-right: 0; }*/
.navbar-right > li:first-child > a { position: relative; }
.navbar-right > li > a.avatar { padding-top: 9px; padding-bottom: 9px; }
.navbar-right > li > a.avatar img { border-radius: 50%; border: #ccc solid 1px; width: 32px; height: 32px; }
.navbar-right > li .badge { background: #D8582B; padding: 2px 4px; font-size: 10px; font-weight: normal; position: absolute; top: 10px; left: 25px; }
.navbar-right .dropdown-menu .divider { margin: 5px 0; }
/* 主导航结束 */

/* 页面底部开始 */
.footer { padding-top: 20px; background: #fafafa; color: #9d9d9d; border-top: 1px solid #ddd;}
.footer-link {
    padding: 25px 0;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #d0d6d9;
}

.footer-link a {
    margin: 0 10px;
    color: #99a1a6;
}

.friendly-link {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #edf1f2;
    color: #c8cdd2;
    text-align: center;
    overflow:hidden;
}

.friendly-link span {
    font-weight: bold;
    margin-right: 10px;
}

.friendly-link a {
    color: #99a1a6;
    margin: 0 10px;
}

.footer-copyright {
    padding: 20px 0 25px;
    text-align: center;
    color: #b4bbbf;
}
/* 页面底部结束 */
/* 回到顶部开始 */
.fixed-btn {
    position: fixed;
    right: 2%;
    bottom: 100px;
    width: 40px;
    border: 1px solid #eeeeee;
    background-color: white;
    font-size: 24px;
    z-index: 1040;
    -webkit-backface-visibility: hidden;
}
.fixed-btn a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
}
.back-to-top {display: none;}
.fixed-btn a:hover {
    border-color: #adadad;
    background-color: #e6e6e6;
    color: #333;
    cursor: pointer;
}
/* 回到顶部结束 */
/* 页面标题开始 */
.page-header { margin-top: 10px; }
.page-header h1 { font-size: 18px; margin: 4px 0; display: inline-block; }
.page-header h1 small { font-size: 14px; }
.page-header h2 { font-size: 16px; margin: 1px 0; display: inline-block; }
.page-header h2 em { font-style: normal; color: #D8582B; }
.page-header .nav-tabs { border-bottom: #eee solid 1px; float: right; }
.page-header .nav-main li a { padding: 8px 12px; }
.page-header .nav-sub li a { font-size: 12px; padding: 6px 10px; }
/* 页面标题结束 */

/* 列表页开始 */
.media-list .media { border-bottom: #eee solid 1px; padding-bottom: 15px; }
.media-list .media .media-object { width: 48px; height: 48px; padding: 1px; border: #ddd solid 1px; border-radius: 4px; }
.media-list .media .media-right a { border-radius: 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); font-size: 12px; line-height: 22px; background: #ddd; width: 45px; display: block; height: 48px; text-align: center; color: #999; text-decoration: none;}
.media-list .media .media-right a em { font-size: 14px; font-weight: 500; background: #eee; display: block; line-height: 26px; font-style: normal; }
.media-list .media-body { word-break: break-all; }
.media-list .media-body .media-heading { font-size: 12px; color: #999; line-height: 1.5em; }
.media-list .media-body h2.media-heading { font-size: 14px; }
.media-list .media-body h2.media-heading small { margin-left: 10px; font-size: 12px; color: #999; }
.media-list .media-body h2.media-heading small a { color: #999; }
.media-list .media-body h2.media-heading small span { color: orange; }
.media-list .media-body h2.media-heading small em { font-style: normal; color: #D8582B; }
.media-list .media-body .hint { color: #999; font-size: 12px; }
.media-list .media-body .hint em { color: #D8582B; font-style: normal; }
.media-list .media-body .media { margin-bottom: 10px; }
.media-list .media-action { margin-top: 10px; font-size: 12px; color: #999; }
.media-list .media-action a { color: #666; }
.media-list .media-action .dot { margin: 0 10px; }
/* 列表页结束 */

/* 标签开始 */
.tag-list { padding: 0; }
.tag-list li { line-height: 2em;}
.tag-list li .label { font-size: 12px; font-weight: normal; }
/* 标签结束 */

/* 首页列表开始 */
.index-list .tag-list { display: inline; margin-left: 10px; position: relative; top: -2px; }
.index-list > li > span { color: #999; font-size: 14px; }
.index-list .time { font-size: 12px; color: #999; float: right; }
.index-list .info { font-size: 12px; color: #999; margin-left: 10px; }
.index-list .info a { color: #666; }
.index-list .info .dot { margin: 0 5px; }
.index-list .stat { font-size: 12px; color: #999; float: right; }
.index-list li { list-style: none; line-height: 2.8em; border-bottom: #eee dashed 1px; }
/* 首页列表结束 */

/* 文章列表开始 */
.post-list li { line-height: 2.4em; list-style: disc inside; color: #ccc; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
/* 文章列表结束 */

/* 文字列表开始 */
.text-list li { list-style: disc inside; line-height: 2em; }
/* 文字列表结束 */

/* 头像列表开始 */
.avatar-list { margin: -8px; }
.avatar-list li { list-style: none; float: left; width: 25%; margin: 8px 0; text-align: center; }
.avatar-list li img { border-radius: 4px; width: 48px; height: 48px; padding: 1px; border: #ddd solid 1px; }
/* 头像列表结束 */

/* 首页开始 */
.container .jumbotron { margin-bottom: 20px; padding: 0 20px; border: #ddd solid 1px; background-color: #FCFCFC; border-radius: 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);}
.jumbotron h1 { font-size: 18px; }
.jumbotron h2 { margin-top: 10px; font-size: 16px; }
.jumbotron p { font-size: 14px; line-height: 1.8em; }
.jumbotron .btn {font-size: 16px; padding: 8px 12px; margin-right: 20px;}
.fast { color: #D8582B; }
.secure { color: #16A314; }
.professional { color: #3B6FBA; }
.feature { padding: 0 10px; color: #666; line-height: 1.6em; }
.feature h2 { margin-top: 10px; font-size: 18px; }
.feature h2 span { font-size: 2.5em; vertical-align: -10px; margin-right: 10px; }
/* 首页结束 */

/* 详细页开始 */
.action { border-bottom: #eee solid 1px; padding-bottom: 10px; margin-bottom: 10px; color: #999; }
.action a { color: #999; text-decoration: none; }
.action em {font-style: normal;}
.action .user, .action .time, .action .views, .action .favourites, .action .comments, .action .answers, .action .replies { margin-right:15px; }
.action .money { float: right; }
.page-header.bg-success h2 { margin-top: 10px; padding-left: 10px; color: #D8582B; }
.page-header.bg-success h2 span { color: #FFA500; }
/* 详细页结束 */

/* 投票开始 */
.vote { float:right; }
.vote a { margin-left: 10px; text-decoration: none; }
.vote em { font-style: normal; }
.vote a.up:hover { color: #16A314; }
.vote a.down:hover { color: #D8582B; }
/* 投票结束 */

/* 收藏开始 */
.favourites a:hover { color: orange; }
/* 收藏结束 */



/* 百度分享开始 */
.bdsharebuttonbox { margin: 10px 0; }
/* 百度分享结束 */

/* 按钮开始 */
.btn-block { margin-bottom: 20px; padding: 8px 12px; }
/* 按钮结束 */

/* 赞列表开始 */
.ups { font-size: 12px; color: #999; margin: 10px 0; }
.ups img { width: 32px; height: 32px; border-radius: 50%; }
/* 赞列表结束 */

/* 个人主页开始 */

.profile-user { text-align: center; padding: 45px 0 0 0; }
.profile-user .button{margin-bottom: 10px;}
.profile-user .stat { height: 80px; border-top: #eee solid 1px; padding-top: 20px; }
.profile-user .stat li { width: 33.33%; float: left; text-align: center; font-size: 18px; list-style: none; border-right: #eee solid 1px; }
.profile-user .stat li h3 { font-size: 18px; margin: 5px 0; color: #D8582B; }
.profile-user .stat li:last-child { border-right: none; }
.user-info li { list-style: none; line-height: 2em; }
.user-info span { color: #666; }
/* 个人主页结束 */

/* 文档开始 */
.col-lg-9 p img { max-width: 100%; }
/* 文档结束 */

.media-user { border-bottom: #ddd dotted 1px; padding-bottom: 8px; font-size: 12px; }
.media-user h2 { font-size: 14px; color: #333; }
.media-user h2 img { height: 14px; margin-right: 5px; }
.media-user h2 small { font-size: 12px;}
.media-user h2 a { color: #666; }
.media-user .time { line-height: 1.6em; color: #666;}
.media-user .label { font-size: 12px; font-weight: normal; margin: 5px 0; width: 53px; line-height: 1.6em; padding: 0; display: block; text-align: center; }
.media-footer { margin-top: 5px; }
.media-footer .btn { margin-right: 10px;}
.media-footer .stat { height: 45px; border-bottom: #eee solid 1px; margin-bottom: 8px; color: #666; padding: 0; text-align: center; }
.media-footer .stat li { float: left; width: 33.33%; font-size: 12px; list-style: none; border-right: #eee solid 1px; }
.media-footer .stat li h3 { font-size: 14px; margin: 3px 0; color: #D8582B; }
.media-footer .stat li:last-child { border-right: none; }
.popover-user { width: 244px; height: 168px; }








/* 个人中心开始 */
.preview { height: 220px; }
.avatar-big, .avatar-middle, .avatar-small { float: left; overflow: hidden; }
.avatar-big { margin: 0 50px 0 0; width: 206px; height: 206px; }
.avatar-middle { margin: 80px 50px 0 0; width: 126px; height: 126px; }
.avatar-small { margin: 152px 0 0 0; width: 54px; height: 54px; }
.preview img { border: #ddd solid 1px; padding: 1px; }
.nav-user {margin-bottom: 20px;}
.nav-user.nav > li > a { padding: 8px 15px;}
/* 个人中心结束 */


a.emot { margin-right: 10px;}
table.emot td {cursor: pointer; border: #eee solid 1px; padding: 2px;}
.picture {margin-right: 20px;}
.form-group.action a {line-height: 30px;}
.form-group.action .popover {max-width: 320px; width: 320px; height: 290px;}



.site-error { width: 500px; margin: 0 auto;}
.site-error h1 { font-size: 60px; font-family: Arial; text-align: center; margin: 100px 0 60px 0;}
.site-error p {margin-top: 20px; text-align: center;}

/* Widget开始 */
.md-editor .md-footer { font-size: 12px; color: #999; }
/* Widget结束 */

/* 排行榜开始 */
.top li p em {color: #999; font-weight: normal; font-style: normal; width: 50px; display: inline-block; font-size: 12px;}
.top li p {font-weight: bold; color: #D8582B; font-size: 16px; margin-bottom: 0;}
.top li p em i {color: #D8582B; font-size: 14px; font-style: normal; font-weight: bold;}
/* 排行榜结束 */

/* 签到开始 */
.sign li em {color: #999; font-weight: normal; font-style: normal; width: 50px; display: inline-block;}
.sign li i {color: #D8582B; font-style: normal; font-weight: bold;}
.table-sign thead tr th { text-align: center; }
.table-sign td {text-align: center;}
.table-sign td.success{background: url("../images/qiandao_icon.png") no-repeat center center;background-size:contain}
.table-sign td.info a { color: orange; width: 100%; height: 100%; display: block; font-weight: bold; }
/* 签到结束 */

/* 签到开始 */
.btn-group { margin-bottom: 20px; }
.btn-group .btn { font-size: 12px; }
/* 签到结束 */

/* 第三方登录开始 */
.auth-clients { padding: 0 0 1em; text-align: center; margin:0!important;}
.auth-clients .auth-client { margin-right: 10px; }
.auth-clients .auth-client .auth-link { width: auto!important; }
/*第三方登录 */



.btn-file { position: relative; overflow: hidden; }
.btn-file input[type=file] {
    position:absolute;
    top:0;
    right:0;
    min-width:100%;
    min-height:100%;
    text-align:right;
    filter:alpha(opacity=0);
    opacity:0;
    background:none repeat scroll 0 0 transparent;
    cursor:inherit;
    display:block
}




.avatar-view {
    display: block;
    margin: 15% auto 5%;
    height: 220px;
    width: 220px;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    cursor: pointer;
    overflow: hidden;
}

.avatar-view img {
    width: 100%;
}

.avatar-body {
    padding-right: 15px;
    padding-left: 15px;
}

.avatar-upload {
    overflow: hidden;
}

.avatar-upload label {
    display: block;
    float: left;
    clear: left;
    width: 100px;
}

.avatar-upload input {
    display: block;
    margin-left: 110px;
}

.avatar-alert {
    margin-top: 10px;
    margin-bottom: 10px;
}

.avatar-wrapper {
    height: 364px;
    width: 100%;
    margin-top: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
    background-color: #fcfcfc;
    overflow: hidden;
}

.avatar-wrapper img {
    display: block;
    height: auto;
    max-width: 100%;
}

.avatar-preview {
    float: left;
    margin-top: 15px;
    margin-right: 15px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}

.avatar-preview:hover {
    border-color: #ccf;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.avatar-preview img {
    width: 100%;
}

.preview-lg {
    height: 184px;
    width: 184px;
    margin-top: 15px;
}

.preview-md {
    height: 100px;
    width: 100px;
}

.preview-sm {
    height: 50px;
    width: 50px;
}

@media (min-width: 992px) {
    .avatar-preview {
        float: none;
    }
}

.avatar-btns {
    margin-top: 30px;
    margin-bottom: 15px;
}

.avatar-btns .btn-group {
    margin-right: 5px;
}

/* 头像开始 */
/*.panel img { width: 40px; height: 40px; padding: 1px; border: #ddd solid 1px; border-radius: 4px; }*/
.media-object, .media-user .media-object { width: 48px; height: 48px; padding: 2px; border: #ddd solid 1px; border-radius: 6px; -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .05); box-shadow: 0px 1px 2px rgba(0, 0, 0, .05); }
.avatar img, .online img { border-radius: 4px; border: #fff solid 1px; width: 36px; height: 36px; }
.profile-user img.avatar { width: 120px; height: 120px; border-radius: 50%; }
.thumbnail a > img.media-object { max-width: 48px; }
.avatar-list { margin: -7px; }
.avatar-list li { list-style: none; display: inline-block; padding: 4px; }

/*首页*/
/* 顶部子导航 */
.m-sitenav{height: 50px;border-bottom:1px solid #eae6e2;text-align:left;line-height:50px;}
.m-header{position:relative;z-index:100;border-bottom:2px solid #fa7a20;}
.m-header .wrap{height:48px;padding:20px 0;box-sizing: content-box}
.m-header .u-search{position:absolute;right:0;top:25px;}

/* logo */
.m-logo,.m-logo a{display:inline;float:left;width:175px;height:52px;}
.m-logo{width:240px;margin-right:8px;}
.m-logo a{position:relative;text-indent:-20000px;}
.u-search{position:relative;zoom:1;float:left;width:300px;z-index:100;text-align:left;}
.u-search .form{  position:relative;display:block;height:34px;padding-left:12px;background-color:#fff;border:2px solid #fa7a20;border-radius:5px;z-index:2011;  }
.u-search .form .txt{position:absolute;top:9px;left:16px;color:#a6978a;font-size:12px;z-index:1}
.u-search .form .text{outline:0;position:absolute;width:166px;height:24px;padding-top:5px;border:0;background:transparent;line-height:20px;color:#a6978a;z-index:2;box-sizing: content-box}
.u-search .form .icn-search2{position:absolute;top:5px;right:13px;z-index:2;color:#fa7a20;font-size: 18px;}
.u-search .crt{  text-decoration:none;cursor:default;background-color:#fff;  }
.u-search .crt .text{display:block;color:#666;}
.u-search .crt .icn-search2{display:block;cursor:pointer;}
.u-search .list{
    position:absolute;top:35px;width:298px;text-align:left;border:1px solid #e6e0da;background:#fff;z-index:2010;
}
.u-search .list li{height:36px;line-height:36px;}
.u-search .list a{display:block;padding:0 15px;color:#a6978a;}
.u-search .list a strong{color:#333;}
.u-search .list a.hover{background:#f5f5f5;color:#ed6c00;}
.u-search .list a span{display: block;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/*.u-search .list .odd{background:#f9f7f4;}*/
/* nav */
.m-nav{height: 44px; margin-bottom: -4px; line-height: 44px; background: #fa7a20; border-radius: 3px; text-align: center;}
.m-nav ul { padding: 0;}
.m-nav li{display: inline-block;}
.m-nav a{display:block;padding:0 22px;font:16px/44px 'microsoft yahei',STXihei;_font:700 16px/28px '宋体','黑体';color:#fff;}
.m-nav .crt a,.m-nav a:hover{background:#f16300;}
.category-article-list {height:125px;list-style:none}
.category-article-list li {height:25px; line-height:25px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis}
.category-article-list li em {color:#999;font-style: normal}
.login-user-list li img{border: 1px solid #ddd; padding: 2px; display: block;}
.login-user-list li p{width:64px;font-size: 12px;line-height: 20px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: center;}