#plupload-upload-ui {
    position: relative;
}


.drag-drop #drag-drop-area {
    border: 4px dashed #b4b9be;
    height: 200px;
}

.drag-drop #drag-drop-area.drag-highlight{
	   border: 4px dashed #605ca8;
}

.drag-drop .drag-drop-inside {
    margin: 70px auto 0;
    width: 250px;
}


.drag-drop .drag-drop-inside p {
    text-align: center;
	color: #a0a5aa;
    font-size: 14px;
    margin: 5px auto;
}
.upload-kit-input{
	position: relative; z-index: 1;
	text-align:center;
}


.upload-kit-input input[type=file] {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
	top:0;
	left:0;
}



.media-upload-form .media-item {
    min-height: 36px;
    margin-bottom: 1px;
    position: relative;
    width: 100%;
    background: #fff;
}

.media-item .pinkynail {
    float: left;
    margin: 2px 10px 0 3px;
    max-width: 40px;
    max-height: 32px;
}

.edit-attachment {
    display: block;
    line-height: 36px;
    float: right;
    margin-right: 10px;
}

.media-item .filename {
    line-height: 36px;
    overflow: hidden;
    margin-left: 6px;
}
