/*é€‰é¡¹å¡å¯¼èˆª*/
.tab-nav, .tab-nav .acrossTab li {
    border-bottom: 1px solid #e6e6e6;
    /*background-image: url(../images/acrossTab-2.png)*/
}

.tab-nav {
    height: 50px;
    padding-right: 75px;
    overflow: hidden;
    position: relative;
    background-color: #efeef0;
}

.tab-nav .acrossTab {
    list-style: none;
    position: absolute;
    /*height: 40px;*/
    /*line-height: 40px;*/
    background: none;
    top: 8px;
    left: 0;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.tab-nav .acrossTab li {
    position: relative;
    float: left;
    display: inline-block;
    background:#dfe2e8;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    padding: 0 30px 0 15px;
    white-space: nowrap;
    color: #333;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
    margin-right:3px;
}
.acrossTab li.active {
    background: #ceddea;
    color: #5081b7;
    z-index: 99;
}

.acrossTab li em {
}



.acrossTab li.active em {
    /*background-position: right -150px;*/
}

.acrossTab li i {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    top: 12px;
    right: 5px;
    font-size: 0;
    cursor: pointer;
    font-style:normal;
    color: #c2c2c2;
    background: url("../images/round_close.png") no-repeat;
}
.acrossTab li.active i{
    color: #5081b7;
}
.tab-nav-wp {
    position: relative;
    /*height: 40px;*/
    /*overflow: hidden*/
}
/*.tab-nav .acrossTab li {*/
/*height: 26px;*/
/*line-height: 26px;*/
/*}*/
/*.tab-nav .acrossTab li em {*/
/*right: 0px;*/
/*height: 26px;*/
/*width: 16px*/
/*}*/

.loading {
    background: url(../images/loading.gif) no-repeat center;
    height: 100px
}

.tab-nav-more {
    position: absolute;
    right: 0;
    top: 10px;
    display: none
}

.show_iframe {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.show_iframe iframe {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.content-iframe {
    position: relative;
}

/*å³å¥èœå•*/
.tab-contextmenu {
    display: none;
    position: absolute;
    width: 140px;
    height: 125px;
    padding: 5px;
    overflow: hidden;
    border: 1px solid #dddddd;
    box-shadow: 1px 1px 1px #888;
    background: #FFFFFF;
}
.tab-contextmenu .tab-contextmenu-item {
    width: 120px;
    height: 25px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 25px;
    cursor: pointer;
}
.tab-contextmenu .tab-contextmenu-item:hover {
    color: #FFFFFF;
    background: #999;
}
.tab-nav{
    background: #fff;
}
.tab-nav .acrossTab{
    top: 9px;
}
.tab-nav .acrossTab li{
    background: #fff;
    border: 1px solid #E8E8E8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.acrossTab li.active{
    background: #F3F7FD;
}