body {
    font-size:14px;
}
.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 20px;
}
.sidebar-menu .treeview-menu>li>a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 13px;
}

/*选项卡导航*/
.tab-nav, .tab-nav .acrossTab li, .tab-nav .acrossTab li em {
    background-image: url(../images/acrossTab-2.png);
}
.acrossTab li {
    position: relative;
    float: left;
    display: inline-block;
    height: 29px;
    line-height: 29px;
    font-size: 12px;
    cursor: pointer;
    padding: 0 30px;
    white-space: nowrap;
    color: #282828;
    background-position: 0 0;
}
.acrossTab li, .acrossTab li em {
    background-repeat: no-repeat;
    background-position: 0 0;
}
.acrossTab li em {
    position: absolute;
    width: 23px;
    height: 29px;
    right: -20px;
    top: 0;
    z-index: 50;
    background-position: right -30px;
}

.acrossTab li.active {
    background-position: 0 -120px;
    z-index: 99;
}
.acrossTab li.active em {
    background-position: right -150px;
}
.acrossTab li i {
    position: absolute;
    display: block;
    width: 13px;
    height: 13px;
    top: 50%;
    margin-top: -6px;
    right: 5px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    background-image: url(../images/acrossTab-close.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.tab-nav-wp{position:relative; height:35px;overflow:hidden}
.tab-nav, .tab-nav .acrossTab li,.tab-nav .acrossTab li em{background-image:url(../images/acrossTab-2.png)}
.tab-nav{height:35px; padding-right:75px;overflow:hidden; position:relative;background-color:#efeef0; background-repeat: repeat-x; background-position: 0 -175px;}
.tab-nav .acrossTab{ list-style: none; position:absolute; height:26px; line-height:26px; background:none; top:8px; left:0;padding-top:0}
.tab-nav .acrossTab li{height:26px;line-height:26px;}
.tab-nav .acrossTab li em{ right:-16px; height: 26px; width: 16px}
.loading {background:url(../images/loading.gif) no-repeat center; height:100px}
.tab-nav-more {position: absolute;right:0;top:0;display: none}
.show_iframe{ position:absolute; top:0; right:0; left:0; bottom:0;}
.show_iframe iframe {position: absolute;bottom: 0;height: 100%;width: 100%}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.content-iframe {position:relative;}
