html{
    background-color: #ecf0f5;
}
body {
    font-size:14px;
}
.login-page{
    background-color: #ecf0f5;
}
div.required label.control-label:after {
     content: " *";
     color: red;
}
td{word-break: break-all}
.table thead tr th {
    padding: 8px 8px;
    font-weight: normal;
    color:#333;
    border-bottom: 1px solid #e1e6eb;
    background-color: #F5F6FA;
}
.table thead tr th a{
    color:#333;
}
.table thead .sorting:after,
.table thead .sorting_asc:after,
.table thead .sorting_desc:after {
    font-family: "Glyphicons Halflings";
    opacity: 0.5;
    margin-left:5px;
}
.table thead .sorting:after {
    content: "\e150";
}
.table thead .sorting.asc:after {
    content: "\e155"; /* sort-by-attributes */
}
.table thead .sorting.desc:after {
    content: "\e156"; /* sort-by-attributes-alt */
}
.pagination-summary {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    padding: 0 16px;
    color: #888;
}
.pagination {
    margin: 0;
    vertical-align: middle;
    border-radius: 0;
}
.alert a {text-decoration: none!important;}
.editormd-fullscreen {z-index:99999!important;}