/* danmu's css */
#dm{

    position: fixed;
    width: 70%;
    height: 160px;
    left: 10px;
    top: 30px;
    z-index: 9999;
    pointer-events: none;
    font-size: 16px;
}

#dm .dm-item{
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 15px;
    opacity: 0;
    pointer-events: auto;
}

#dm .dm-item.new{
    background-color: rgba(113, 131, 8, 0.3);
}

#dm .dm-item .avatar{
    float: left;
    margin-right: 5px;
}
#dm .dm-item .avatar img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#dm .dm-item .avatar span{
    word-break: break-word;
    font-size: 1em;
    color: #fff;
    padding: 0 3px;
}
#dm .dm-item .txt{
    word-break: break-word;
    color: #fff;
    font-size: .9em;
    line-height: 1.3em;
    padding: 5px 5px 5px 0px;
    overflow: hidden;
    zoom: 1;
}

#dm .dm-item .dm-wrap{ display: inline-block; }
/*
#dm-switch{
  display: none;
  bottom: 0;
  right: 0;
  z-index: 999;
  height: 50px;
  width: 50px;
  position: fixed;
  background-color:#f06;
}

#dm-switch .dm-switch-icon{
  position: relative;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background-image: url('../image/icon/ic_danmu_off_normal.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 40px 40px;
}

#dm-switch .dm-switch-icon.open{
  background-image: url('../image/icon/ic_danmu_on_normal.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 40px 40px;
}*/