/*================================
  GENERAL STYLES
==================================*/

body {
    color: #676C72;
    min-width: 970px;
    font-size: 14px;
    background-color: #F6F6F6;
}

#page-container {
    background-color: #F6F6F6;
}

#page-container .navbar-nav {
    border-right: none;
}

#page-container .navbar-nav > li {
    border-left: none;
    border-right: none;
}

#page-container .navbar-nav > li > a {
    padding: 20px 22px;
}

#page-container .navbar-right {
    border-left: none;
    border-right: none;
}

#page-container .navbar-header {
    float: left;
    border-left: none;
}

#page-container .navbar-header > a {
    display: block;
}

#page-container .navbar-header .navbar-brand {
    margin: 0;
    padding: 15px 45px 15px 0;
    border-left: none;
    border-right: none;
    height: 60px;
}

#page-container .navbar-header .navbar-brand img {
    height: 30px;
}

#page-container.header-fixed-top {
    padding-top: 60px;
}

header.navbar.navbar-inverse {
    border-bottom: 1px solid #4F68C0;
    background-color: #526bbe;
}

#page-content {
    background-color: #F6F6F6;
}


/* Finesse the page header spacing */

.page-header {
    margin-bottom: 30px;
}

.page-header .lead {
    margin-bottom: 10px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #526bbe;
    background-color: #FFF;
}


/* themed */

.themed-background-xev4 {
    background-color: #409AD8 !important;
}

.text-primary,
.text-primary:hover,
a,
a:hover,
a:focus {
    color: #526bbe;
}


.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #526bbe !important;
}

.list-group,
.list-group-item {
    border-color: #D0D4E0;
}

.list-group-item a {
    color: #7F859A;
}

.list-group-item.divider {
    background: #F0F0F0;
    border: 0 none;
    padding: 1px;
}

li.dropdown-header {
    border-bottom: 0 none;
    background: #FFF;
}

#content-container .dropdown-header {
    padding: 10px 15px;
    font-size: 16px;
}

.list-group-item.active {
    background-color: #7F859A;
}

.list-group-item.active a {
    color: #FFF;
}

.btn-primary {
    background-color: #526bbe;
    border-color: #5d75c2;
    color: #FFF;
}

.btn-primary:hover {
    background-color: #FFF;
    border-color: #4761ba;
    color: #526bbe;
}

.btn-primary.btn-alt {
    border-color: #526bbe;
    color: #526bbe;
}

.btn-primary.btn-alt:hover {
    background-color: #526bbe;
    border-color: #526bbe;
    color: #FFF;
}

.form-control:focus {
    border-color: #526bbe;
}

.btn-dark {
    background-color: #555;
    border-color: #555;
    color: #FFFFFF;
}

.btn-dark:hover {
    color: #FFFFFF;
    background-color: #333;
}

.btn-dark.btn-alt {
    background-color: #FFF;
    color: #555;
}

.btn-dark.btn-alt:hover {
    background-color: #333;
    color: #FFF;
}

.btn-xl {
    font-size: 22px;
    border-radius: 8px;
    line-height: 1.33;
    padding: 12px 18px;
}

.pagination > li > a,
.pagination > li > span {
    color: #597ad4;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #597ad4;
}

.pager > li > a:hover,
.pagination > li > a:hover {
    background-color: #597ad4;
}


/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */


/* Reset the container */

.container {
    min-width: 969px;
    max-width: none !important;
}

.container .navbar-header,
.container .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

header.navbar-inverse.navbar-fixed-top {
    border: none;
}


/* Always float the navbar header */


/* Undo the collapsing navbar */

.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-toggle {
    display: none;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand {
    margin-left: -15px;
}


/* Always apply the floated nav */

.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a {
    padding: 15px;
}

.navbar-nav.navbar-right {
    float: right;
}


/* Redeclare since we override the float above */


/* Undo custom dropdowns */

.navbar .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
}

.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff !important;
}

.navbar .navbar-nav .open .dropdown-menu > .active > a {
    color: #fff !important;
    background-color: #428bca !important;
}

.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff !important;
    background-color: #428bca !important;
}

.navbar .navbar-nav .open .dropdown-menu > .disabled > a {
    color: #999 !important;
    background-color: transparent !important;
}

.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #999 !important;
    background-color: transparent !important;
}


/*navbar*/

header.navbar .profile-image {
    width: 40px;
}


/*container*/

#main-container {
    position: relative;
}

.content-header h1 a,
.content-header h2 a {
    color: #FFF;
}

.content-header h1 {
    font-weight: 400;
}

.content-header h1 i {
    font-weight: normal;
}

#page-content {
    padding-bottom: 30px;
}

.block dt {
    color: #6B7EB6;
}

.block dd {
    margin-top: 5px;
}

.block .sub-header {
    color: #484C58;
    font-size: 17px;
    font-weight: 400;
}

.block h3 {
    font-size: 17px;
    font-weight: 400;
    color: #484C58;
}

.block .block-image {
    margin-bottom: 20px;
}

.block .block-image img {
    max-width: 100%;
    height: auto;
}

.block-title,
.block-top {
    margin: -20px -20px 20px;
}

.block-title {
    background-color: transparent;
    border-bottom: none;
    color: #526bbe;
}

.block-title h2 {
    padding: 30px 20px 0 20px;
    font-size: 22px;
}

#content-container > .lead {
    margin-bottom: 10px;
    padding: 30px;
    color: #FFF;
    font-size: 16px;
    background-color: #597ad4;
}

#content-container > .lead strong {
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 38px;
}

#content-container > .lead small {
    font-size: 16px;
    font-weight: 200;
}


/*row*/

.row.row-full-top {
    margin: -20px -20px 0;
}

.row.row-full {
    margin: 0 -20px;
}

.block .page-header {
    margin-top: 0;
}


/*input-group*/

.input-group-addon select {
    font-size: 11px;
}


/*refresh*/

.x * {
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.control-group button,
.control-group select,
.control-group input {
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


/*widget*/

.widget-extra .widget-content-light {
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 24px;
}

.widget-advanced .widget-header {
    height: auto;
}


/*list-group*/

.panel-default .panel-heading,
.panel-default .panel-footer {
    background-color: #FFF;
}

.block.block-inverse {
    color: #444;
    border-color: #E5E5E5;
    background-color: #F6F6F6;
}

.block.block-inverse .block-title {
    background-color: #7F869B;
}

.block.block-inverse .block-title a {
    color: #FFF;
}

.block.block-inverse:hover .block-title {
    background-color: #526bbe;
}

.panel .table {
    margin: 3px 0;
}

.panel-heading p {
    margin: 0;
}

.label-primary {
    background-color: #597ad4;
}

.form {
    display: inline-table;
}

.panel,
.block {
    border: 0 none;
}

.animation-pulseBgSlow {
    animation-name: pulseBgSlow;
    -webkit-animation-name: pulseBgSlow;
    animation-duration: 30s;
    -webkit-animation-duration: 30s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}

@keyframes pulseBgSlow {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 0 100%;
    }
    100% {
        background-position: 0 0;
    }
}

@-webkit-keyframes pulseBgSlow {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 0 100%;
    }
    100% {
        background-position: 0 0;
    }
}

.list-group-item:last-child,
.list-group-item:first-child {
    border-radius: 0;
}

.thumbnail {
    border: 0 none;
    padding: 0;
}

.panel {
    border-radius: 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #526bbe;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #526bbe;
    color: #FFF;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background-color: #EEE;
}

.max-2line {
    display: block;
    overflow: hidden;
    white-space: normal;
    max-height: 3.2em;
}

body,
table,
input,
textarea,
select,
button {
    font-family: "Helvetica Neue", "Apple SD Gothic Neo", "Nanum Gothic", "Dotum", Helvetica, Arial, sans-serif;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    z-index: 11000;
}

table,
input,
textarea,
select,
button {
    font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
}

.mc input,
.mx input,
.board_write input {
    box-sizing: content-box;
}


/*breadcrumb*/

.breadcrumb-container {
    border-top: 1px solid #EAEDF1;
}

.breadcrumb-container .breadcrumb {
    margin-bottom: 0;
    background: transparent;
}

.breadcrumb-container .container {
    padding: 0;
}

#page-container .navbar-nav.member-menu > li > a > img {
    margin: -12px;
}

.panel-heading h1,
.panel-heading h2,
.panel-heading h3 {
    margin: 0;
    font-size: 21px;
}


/*page:main*/

.xev4-main section h2 {
    color: #5878D7;
}

.xev4-main section.head {
    padding: 0;
}

.xev4-main section.head h2 {
    color: #5878D7;
    font-size: 22px;
}

.xev4-main section.head .lead {
    font-size: 18px;
}

.xev4-main section.news,
.xev4-main section.forum {
    background-color: #FFF;
}

.xev4-main section.full-width {
    padding-top: 40px;
    padding-bottom: 90px;
}

.xev4-main section.full-width .container .row section {
    padding: 0;
}

.xev4-main section .widget-container.pro-ui-box .block {
    height: 250px;
}

.xev4-main section .widget-container.pro-ui-box .block .block-title h3 {
    display: block;
}

.xev4-main section .widget-container.pro-ui-box .block .block-title h3 a {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    zoom: 1;
}

.xev4-main section .widget-container.pro-ui-box .block div em {
    font-style: normal;
}

.xev4-main section .widget-container.pro-ui-box .block p {
    margin-top: 16px;
    display: block;
    overflow: hidden;
    white-space: normal;
    height: 9.6em;
    max-height: none;
}

.xev4-main section.news {
    background-color: #FFF;
}

.xev4-main section.news .list-group-item {
    background-color: #F6F6F6;
}

.xev4-main section.news .list-group-item:hover {
    background-color: #526BBE;
}

.xev4-main section.news .list-group-item:hover h3,
.xev4-main section.news .list-group-item:hover p {
    color: #FFF;
}

.xev4-main section.news .list-group-item h3 {
    font-size: 18px;
    font-weight: 400;
}

.xev4-main section.news .list-group-item p {
    font-size: 14px;
    line-height: 1.5;
    word-break: break-all;
}

.xev4-main section.news .well .btn small {
    font-size: 17px;
}

.xev4-main section.news .xe-core-downloaded-container {
    margin-top: 15px;
    font-size: 20px;
    font-weight: lighter;
}

.xev4-main section.news .xe-core-downloaded-container span {
    font-weight: bold;
}

.xev4-main section.showcase {
    background-color: #F6F6F6;
}

.xev4-main section.showcase .thumb {
    position: relative;
    background-color: #5878D7;
}

.xev4-main section.showcase .thumb a {
    display: block;
}

.xev4-main section.showcase .thumb a div {
    display: none;
}

.xev4-main section.showcase .widget-content p {
    padding: 12px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    zoom: 1;
}

.xev4-main li p {
    overflow: hidden;
    max-height: 4.8em;
}

#page-content {
    padding: 0 0 30px;
}

#page-content + footer {
    background-color: #5B6882;
}

footer {
    padding: 10px 0 !important;
    background-color: #5B6882;
    color: #D9D9D9;
    font-size: 0.9em;
}

footer a,
footer address {
    color: #D9D9D9;
}

footer a:hover,
footer address:hover {
    color: #D9D9D9;
}

footer a.copy-naver:hover,
footer a.copy-naver:focus,
footer a.copy-naver:active,
footer address.copy-naver:hover,
footer address.copy-naver:focus,
footer address.copy-naver:active {
    color: #2CB400;
}

footer .sitemap {
    padding: 40px 0 30px;
    color: #D9D9D9;
}

footer .sitemapa,
footer .sitemap h4 a {
    color: #D9D9D9;
}

footer .sitemap h4 {
    font-size: 16px;
    font-weight: 400;
}

footer .sitemap li a {
    color: #D9D9D9;
}

footer address {
    font-size: 0.9em;
}

footer address a {
    font-weight: bold;
}

footer address .copy-d2:hover,
footer address .copy-d2:focus,
footer address .copy-d2:active {
    color: #FFF;
    background-color: #5F5F5F;
    text-decoration: none;
}

footer address .copy-d2:hover span,
footer address .copy-d2:focus span,
footer address .copy-d2:active span {
    color: #32CDA0;
}

footer i {
    color: #575B66;
}

footer i.fa-circle {
    color: #D0D4DF;
}


/*page:about*/

.xeofficial-page-content-about .block dt {
    margin-top: 15px;
}


/* page:manual */

.manual {
    margin: 0 0 30px;
}

.manual .dList {
    border: 0;
    border-top: 2px solid #999;
    width: 100%;
}

.manual .dList a {
    text-decoration: none;
}

.manual .dList a:hover,
.manual .dList a:active,
.manual .dList a:focus {
    text-decoration: underline;
}

.manual .dList th,
.manual .dList td {
    border: 0;
    border-bottom: 1px solid #ddd;
    padding: 7px 10px;
}

.manual .dList th {
    text-align: left;
}

.modal-dialog {
    margin-top: 70px;
}

.xm input,
.xm button,
.xc input,
.xc button {
    margin: 0;
    font-size: 14px;
}

.xm .btn,
.xc .btn {
    margin: 0;
    font-size: 14px;
}

.xm select,
.xm input,
.xm button,
.xc select,
.xc input,
.xc button {
    height: auto;
}

.xm select[type="file"],
.xm input[type="file"],
.xm button[type="file"],
.xc select[type="file"],
.xc input[type="file"],
.xc button[type="file"] {
    height: auto;
    padding: 0;
}

.xm .pagination,
.xc .pagination {
    display: block;
}

.xm .pagination ul,
.xc .pagination ul {
    padding: 0;
}

.resource .iText {
    height: auto !important;
}

.content-header,
.content-top,
.breadcrumb-top {
    margin-top: 0;
}

.content-header,
.breadcrumb-container {
    border-top: 0 none;
}

.breadcrumb-container,
.breadcrumb-container a,
.header-section,
.header-section small {
    color: #FFF;
}

.list-group-item {
    border: 0 none;
}

.content-header {
    background: url("../images/bg005.jpg") no-repeat scroll 0 0  #7f8599;
    background-size:cover
}

#board_list td {
    border: 0 none !important;
}

#to-top {
    left: auto;
    right: 20px;
    opacity: 0.2;
}

#to-top:hover {
    background-color: #526bbe;
}

.navbar .navbar-nav .open .dropdown-menu {
    border-width: 0;
    border-radius: 0;
}

.sitemap-item {
    white-space: nowrap;
}

.sign .pf {
    border-radius: 100%;
}

.list-group-item-heading {
    margin-bottom: 10px;
}

#xe_gallery_controls {
    top: 60px !important;
}

.block .block-title img {
    height: 40px;
    width: auto;
}

.well {
    background-color: #F6F6F6;
    border: 0 none;
    box-shadow: none;
    border-radius: 0;
}

.page-profile-dev-group .img-circle {
    border: 1px solid #F0F0F0;
}


#page-content {
    padding-bottom: 0;
}
.nav .list-group-item{
    padding: 0;
}

#page-content{
    min-height: 800px;
}

/*================================
  BUTTON STYLES
==================================*/

.btn-radius {
    border-radius: 25px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    padding: 10px 50px 10px 50px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin: 25px 5px 5px 0px;
}


.btn-hollow {
    color: #fff;
    background: none;
}


/* login */
.pemember-password-wrap {
    position: relative;
}
.pemember-password-wrap .pemember-password {
    position: absolute;
    top: 5px;
    right: 0;
}

.auth-clients{
    margin:30px auto;
    padding-left: 100px;
}

/*================================
  comment STYLES
==================================*/
.main-section{
    padding: 80px 0
}
/*================================
  HEADER STYLES
==================================*/


/*================================
  jumbotron STYLES
==================================*/

.jumbotron {
    text-align: center;
    position: relative;
    padding: 120px 0;
    margin-bottom: 0px;
}

.jumbotron .container {
    position: relative;
    z-index: 3;
}
.background-image-holder{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    z-index: 0;
    background-position: 50% 50% ;
}

.jumbotron h1 {
    color: #fff;
    font-size: 4em;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

.jumbotron h4 {
    color: #fff;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 30px;
}


/*================================
  feature STYLES
==================================*/

.feature {   background: #ffffff}

.feature .head-line hr {
    width: 40px;
    height: 3px;
    border-top: 2px solid #5d75c2;
}

.feature .media-body {
    padding-left: 20px;
}

.feature .feature-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 200px;
}

.feature .fa{
    color: #526bbe;
}

/*================================
  demo STYLES
==================================*/

.demo {

}

.demo img {
    width: 100%;
    height: 100%
}

.demo .demo-wrapper h2 {
    color: #5878D7;
    margin: 0;

}
.demo .demo-wrapper a {
    margin-top: 30px;
}
.demo .well {
    background: #fff;
}

/*================================
  author STYLES
==================================*/

.author {
    text-align: center;
    background: #ffffff
}

.author h3 {
    color: #333333;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 30px 0 10px
}

.author h3 span {
    display: block;
    margin-top: 15px;
}

.author-info {
    padding: 0;
    margin: 20px 0 0;
    list-style: none;
    text-align: center;
}

.author-info li {
    display: inline;
    margin: 0 15px;
}

.author-info li a {
    display: inline-block;
}

.author-info li a img {
    margin-bottom: 15px;
    border-radius: 50%;
}

.author-info li a:hover {
    text-decoration: none;
}

.author-info li a span {
    color: #333333;
}


/*================================
  footer STYLES
==================================*/
footer {
    font-size: 1.2em;
    line-height: 1.5;
    padding: 30px 0 !important;
}


/* Portfolio
---------------------------------*/
.Portfolio-nav {
    padding: 0;
    margin: 0 0 45px 0;
    list-style: none;
    text-align: center;
}

.Portfolio-nav li {
    margin: 0 10px;
    display: inline;
}

.Portfolio-nav li a {
    display: inline-block;
    padding: 10px 22px;
    font-size: 12px;
    line-height: 20px;
    color: #222222;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    background: #f7f7f7;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.Portfolio-nav li a:hover {
    background-color: #526bbe;
    color: #fff;
    text-decoration: none;
}

.portfolioContainer {
    margin: 0 auto;
    padding-left: 15px;  min-height:620px;

}

.Portfolio-box {
    text-align: center;
    margin-bottom: 40px;
    height: 210px;
    width: 350px;
    overflow: hidden;
    float: left;
    padding: 0;
}

.screenshot-image img {
    height: 210px;
    width: 350px;
    margin-bottom: 25px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.Portfolio-box img:hover {
    opacity: 0.6;
}

.Portfolio-nav li a.current {
    background-color: #526bbe;
    border-color: #5d75c2;
    color: #fff;
    text-decoration: none;
}

.portfolioContainer {
    max-width: 1140px;
}

/* no transition on .isotope container */
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}



.user-module{padding: 30px 0;}


/* wrapper */

#wrapper {
    text-align: center;
    padding: 50px 0;
    /*  background: url(../images/soon-bg.jpg) no-repeat center top;*/
    background:#fff;
    margin-top: -21px;
    background-position: center center;
    min-height: 690px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#wrapper h1 {
    margin-top: 60px;
    margin-bottom: 40px;
    color: #000;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -1px;
}

h2.subtitle {
    color: #000;
    font-size: 24px;
}